###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
csharp/ApiDocs/obj
csharp/ApiDocs/Debug
csharp/obj
csharp/bin
csharp/src
src
bin
obj
_site
dest
csharp
*.txt
